<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAVEL SEGURITY</title>
    <link rel ="stylesheet" href="/static/index/index.css" />
</head>
<body>
   <!-- <h2>Initial version</h2> -->
    <input type="text" id="place_input" />
    <button id="button">Mostrar ubicacion actual</button>
    <div id="mapDiv"></div>
    <script src="/static/index/map.js"></script>
    <script src="/static/index/simulator.js"></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwEqCkz2Tkk-PsFBpe-QrHks7yFeOt_JI&libraries=places&callback=initMap"
    defer
    ></script>
</body>
</html>